<%- include("partials/header") -%>
<div class="home">
  <div class="page-heading">
    <h1>Home</h1>
  </div>
  <div class="page-content">
    <p><%= homeContent %></p>
  </div>
  <div class="dynamic-content">
  <% posts.forEach((post) => { %>
    <div class="dynamic-title">
    <h2><%=post.title%></h2>
  </div>
  <div class="dynamic-para">
    <p><%=post.content%></p>
  </div>
  <% }) %>
</div>
</div>
<%- include("partials/footer") -%>
